/*Common Styling*/
* {
   box-sizing: border-box;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
}

body {
   font-size: 16px;
   background-color: #FFFEF8;
}

/*Navbar Styling*/
.topnav {
   background-color: #385418;
   height: 14vh;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
}

.topnav-links {
   width: 600px;
   margin-right: 5%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-evenly;
   align-items: center;
}

.topnav-links div {
   flex-grow: 1;
}

.topnav-links li {
   height: 14vh;
   font-size: 1.9cqw;
   font-weight: bold;  
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #FFFFFF;
}

.topnav-links li:hover {
   background-color: #46642E;
}

.topnav-links a {
   color: #FFFFFF;
   text-decoration: none;
}

/*Dropdown Styling*/
.subtask {
   height: 14vh;
}

.subtask-dropdown {
   display: none;
   background-color: #385418;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
   z-index: 1;
}

.subtask-dropdown a {
   display: block;
   font-weight: 400;
   padding: 20px 0px 20px 10px;
   font-size: 1.5cqw;
}

.subtask:hover .subtask-dropdown {
   display: block;
   position: relative;
}

.subtask:hover {
   background-color: #46642E;
}

.subtask-dropdown a:hover {
   background-color: #4c6c38;
}

/*Content Styling*/
.content {
   color: #FFFEF8;
   height: 85vh;
}

/*Filters Styling*/