/*Common Styling*/
* {
   box-sizing: border-box;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
}

body {
   font-size: 16px;
   background-color: #FFFEF8;
}

/*Navbar Styling*/
.topnav {
   background-color: #385418;
   height: 15vh;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
}

.topnav-links {
   width: 600px;
   margin-right: 5%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}

.topnav-links li {
   height: 15vh;
   font-size: 1.5em;
   font-weight: bold;  
   list-style: none;
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: center;
}

.topnav-links li:hover {
   background-color: #4C6C38;
}

.topnav-links a {
   color: #FFFFFF;
   text-decoration: none;
}

/*Content Styling*/

.content {
   color: #FFFEF8;
   height: 85vh;
}

/*Filters Styling*/