/*Mission Statement Page Styling*/
.content {
    display: flex;
    flex-direction: row;
}

.mission-image {
    width: 38.3cqw;
    margin: 0 0 0 20;
    align-self: center;
    border-radius: 3px;
}

h1 {
    text-align: center;
    margin: 0 3vw;
    font-size: 7cqw;
    font-style: italic;
    color: #853F00;
}

p {
    margin: 0 3vw 20 3vw;
    font-size: 1.5cqw;
    color: #9F4B00;
}

#option-1 {
    background-color: #46642E;
}