/*Large Content Styling*/
.content {
    display: flex;
}

.filters, .data-contatainer {
    overflow-y: auto;
    overflow-x: hidden;
}

hr {    
    background-color: #9F5C11;
    border-style: none;
    width: 85%;
    height: 2px;
    border-radius: 10px;
    margin: 4vh 0;
}

/*Filters Styling*/
.filters h2 {
    color: #853F00;
    margin: 3vh 0 2vh 0;
    font-size: 4cqw;
    font-weight: 500;
}

.filters {
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters::after {
    content: "";
    display: block;
    position: fixed;
    bottom: 3%;
    left: 23vw;
    width: 2;
    height: 80vh;
    border-radius: 10px;
    background-color: #9F5C11;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.data-container {
    width: 78vw;
}

.country-select {
    background-color: #4C6C38;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
    padding: 10px;
}

.country-select p {
    margin-bottom: 5px;
}

.custom-select {
    width: 100%;
    position: relative;
}

select {
    appearance: none;
    font-size: 2cqw;
    color: white;
    background-color: #385319;
    width: 100%;
    border: none;
    padding: 0.5em 0.5em;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

option {
    font-size: 1.3cqw;
    padding: 1em;
}

.custom-arrow {
    position: absolute;
    background-color: #303e21;
    right: 0;
    width: 20%;
    height: 100%;
    pointer-events: none;
    border-radius: 0px 5px 5px 0px;
}

.custom-arrow::before,
.custom-arrow::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}

.custom-arrow::before {
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Data Containeer Styling*/
.data-container h1 {
    text-align: center;
    font-size: 5cqw;
    color: #9f4b00;
    margin: 3vh 0 2vh 0;
    font-style: italic;
}

/*Scrollbar Styling*/
::-webkit-scrollbar {
   background-color: transparent;
   width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: green ;
    border-radius: 50px;
}

select::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

select::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

select::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50px;
}