/*Large Content Styling*/
.content {
    display: flex;
    width: 100%;
}

hr {    
    background-color: #9F5C11;
    border-style: none;
    width: 85%;
    height: 2px;
    border-radius: 10px;
    margin: 4vh 0;
}

/*General Filters Styling*/
.filters h2 {
    color: #853F00;
    margin: 3vh 0 2vh 0;
    font-size: 4cqw;
    font-weight: 500;
}

.filters {
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters::after {
    content: "";
    display: block;
    position: fixed;
    bottom: 3%;
    left: 23vw;
    width: 2;
    height: 80vh;
    border-radius: 10px;
    background-color: #9F5C11;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*Countries selector styling*/
.select-area {
    background-color: #4C6C38;
    height: fit-content;
    width: 85%;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
    padding: 10px;
}

.select-area > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 5px;
}

.form p {
    font-size: 1.2cqw;
}

.form > div {
    margin: 1.5vh 0px;
}

.form > div:first-child {
    margin-top: 0;
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
    z-index: 2;
}

/*Year Dropdown styling*/
.year-wrapper {
    display: flex;
    width: 85%;
    justify-content: space-between;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.start-year-wrapper,
.end-year-wrapper {
    background-color: #4C6C38;
    width: 49.5%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.start-year-wrapper {
    border-radius: 5px 0px 0px 5px;
}

.end-year-wrapper {
    border-radius: 0px 5px 5px 0px;
}

/*General Checkbox/radio/label styling*/
.checkboxes, 
.radio-buttons {
    width: 85%;
}

.checkboxes div,
.radio-buttons div {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
}

.checkboxes input,
.radio-buttons input {
    min-height: 4vh;
    min-width: 4vh;
    margin-right: 10px;
}

h4 {
    color: #4C6C38;
    font-size: 1.5cqw;
    width: 85%;
    text-align: left;
}

label {
    color: #9f4b00;
}

.confirm-select {
    font-size: 1.5cqw;
    margin-bottom: 0px;
}

button {
    height: fit-content;
    font-size: 3cqw;
    border-radius: 5px;
    background-color: #385319;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;  
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);  
    margin-bottom: 20px;
    font-weight: 700;
}

button:active {
    transform: scale(0.95);
}

/*General select/option styling*/
select {
    appearance: none;
    font-size: 2cqw;
    color: white;
    background-color: #385319;
    width: 100%;
    border: none;
    padding: 0.5em 0.5em;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

option {
    font-size: 1.3cqw;
    padding: 1em;
}

/*Dropdown arrow styling*/
.custom-arrow {
    position: absolute;
    background-color: #303e21;
    right: 0;
    width: 20%;
    height: 100%;
    pointer-events: none;
    border-radius: 0px 5px 5px 0px;
}

.custom-arrow::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}

.custom-arrow::before {
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Data Containeer Styling*/
.data-container {
    position: absolute;
    left: 21vw;
    width: 78vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    overflow-y: auto;
    overflow-x: hidden;
    container-type: inline-size;
}

.data-container h1 {
    font-size: 6cqw;
    color: #9f4b00;
    margin: 3vh 0 2vh 2vw;
    font-style: italic;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 5vh;
}

table:nth-child(1) {
    background-color: #303e21;
}

caption {
    background-color: #4C6C38;
    color: white;
    text-align: left;
    padding: 1vh 10px;
    font-style: italic;
    font-weight: 600;
    font-size: 2.5cqw;
}

thead {
    background-color: #F0F0F0;
}

th {
    white-space: nowrap;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #A6A6A6;
}

tbody tr:nth-child(odd) {
    background-color: #CACACA;
}

th, td {
    border: none;
    max-width: 25%;
    min-width: 20%;
    word-break: normal;
    padding: 12px 8px;
    border: 1px solid white;
}

/*Scrollbar Styling*/
::-webkit-scrollbar {
   background-color: transparent;
   width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: green ;
    border-radius: 50px;
}

select::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

select::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

select::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50px;
}